body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column; 
}

a {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    color: #f4f4f4;
    background-color: #29b930;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}

a:hover,
a:active {
    background-color: #e2004f;
    color: #fff;
}

header {
    text-align: center;
    margin-bottom: 20px; 
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    text-align: center; 
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left; 
}

input {
    width: 75%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #29b930;
    color: #fff;
    padding: 11px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #e2004f;
}

#userInfoContainer {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    display: block;
    text-align: left;
}

.userInfoItem {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.userInfoItem label {
    width: 150px;
    font-weight: bold;
    margin-right: 10px;
}

.userInfoItem input {
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
}