body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #495057;
}

a {
    display: block;
    text-align: center;
    margin-left: ;
    width: 10%;
    margin: 10px 0;
    font-size: 18px;
    color: #f4f4f4;
    background-color: #29b930;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}

a:hover,
a:active {
    background-color: #e2004f;
    color: #fff;
}

header {
    background-color: #ffffff;
    color: srgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #29b930;
    color: #fff;
    padding: 11px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #e2004f;
}

#resultados {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

#countryName {
    color: #007BFF;
    margin-bottom: 10px;
}

#capital,
#language {
    margin-bottom: 10px;
}

#bandera {
    max-width: 20%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
